{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="{% static 'js/jquery-3.1.0.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>


    <script src="{% static 'js/ajax_dir_update.js' %}"></script>

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <title>Hello</title>
</head>
<body>
{#    {% for key, value in model.items %}#}
{#        <p>{{ key }}</p>#}
{#        -------#}
{#        {% for folder in value.folders %}#}
{#            <p class="view" data-v="root">{{ folder }}</p>#}
{#        {% endfor %}#}
{#        --------#}
{#        {% for file in value.files %}#}
{#            <p>{{ file }}</p>#}
{#        {% endfor %}#}
{#        --------#}
{#        <p>Файдов: {{ value.files|length }}</p>#}
{#        <p>Папок: {{ value.folders|length }}</p>#}
{#        <p>Размер: {{ value.size|filesizeformat }}</p>#}
{#    {% endfor %}#}

<ul class="nav nav-list">
    {% for key, value in model.items %}

        <li id="{{ key }}">
            <a class="view" data-v="{{ key }}" href="#" data-toggle="collapse" data-target="#col{{ key }}">
                {{ key }}
            </a>

            <ul id="col{{ key }}" class="collapse in">

                {% for folder in value.folders %}

                    <li id="{{ key }}/{{ folder }}">

                        <a class="view folder" data-v="{{ key }}/{{ folder }}" data-toggle="collapse" data-target="#col{{ key }}/{{ folder }}">
                            {{ folder }}
                        </a>

                    </li>

                {% endfor %}

            </ul>
        </li>

    {% endfor %}
</ul>

</body>
</html>